# Android Studio
.android

# Podman
containers

# Raycast extensions
raycast

# Swift Package Manager
swiftpm

# VSCode profiles
**/vscode/profiles/

.DS_Store

karabiner
kanata
crossnote
gh
github-copilot
configstore